<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I do computer science stuff and sometimes write aboout it here during my free time.</p>
    <p>
      I'm a Computer Science Major from
<a href="http://www.upv.edu.ph/">UPV</a>
 with a passion for Information Security
    </p>
    <p><code>stuxnet:▽~/▷_ </code></p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
